body {
  font-family: Arial;
  margin-top: 50px;
  margin-left: 70px;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
}

.title {
  color: #004d4d;
}
.subtitle {
  color: #009999;
}

// .graph {
//   width: 100%;
//   height: 100%;
// }

.forecast {
  padding-left: 55px;
  margin-top: 45px;
}

.search-submit {
  margin-left: 50px;
}

.comma {
  font-weight: bold;
  font-size: 130%;
}

.today-wrap {
  height: 350px;
  width: 88%;
  margin-top: 30px;
  background-color:#e2f7d5;
  padding-left: 5px;
  padding-top: 15px;
  border-radius: 0.5rem;
}

.today-inf {
  margin-top: 30px;
  padding-left: 5px;
}


.today-title {
  text-align: center;
}

.today-title {
  text-align: center;
}

.today-subtitle {
  padding-left: 10px;
}


.today-temp-img {
  width: 16px;
  height: 33px;
  margin-left: 7px;
}

.today-min-max-p {
  padding-left: 15px;
}

.today-sun-img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
.today-sun-time {
  padding-left: 2px;
}

.today-current {
  width: 97%;
  height: 25px;
  margin-top: 39px;
  padding-left: 10px;
  background-color:#ffd966;
}

.today-current-p {
  text-align: center;
}

.today-current-temp {
  font-weight: bold;
}

.max {
  padding-left: 5px;
  color: red;
}

.min {
  padding-left: 5px;
  color: blue;
}



